<div class="container">
  <h1>Counter App</h1>
  <h1>{{countNumber}}</h1>

  <div class="row">
    <div>
      <button style="background-color: green;border: 0;padding: 10px;border-radius: 5px;margin-left: 5px;color: white;" (click)="resetBtn()">Reset</button>
    </div>
    <div>
      <button style="background-color: blue;border: 0;padding: 10px;border-radius: 5px;margin-left: 5px;color: white;" (click)="increaseBtn()">Increase</button>
    </div>
    <div>
      <button style="background-color: yellow; border: 0;padding: 10px;border-radius: 5px;margin-left: 5px;" (click)="decreaseBtn()">Decrease</button>
    </div>
  </div>
</div>